@import "tailwindcss";
@plugin "daisyui";

.intro-scene {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: blur(100px);
  backdrop-filter: blur(100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

